## Parsing Output CSV Smina

In [1]:
##Importing packages

import pandas as pd
import numpy as np

In [2]:
##Reading file

df = pd.read_csv('final_value_smina.csv', delimiter=",")
df

       Ligand  Affinity
0      Lig100 -5.293062
1      Lig100 -5.054434
2      Lig100 -4.712752
3      Lig100 -4.690919
4      Lig100 -4.626939
...       ...       ...
23698    Lig9 -5.690606
23699    Lig9 -5.655464
23700    Lig9 -5.646739
23701    Lig9 -5.627079
23702    Lig9 -5.523272

[23703 rows x 2 columns]

In [3]:
df.sort_values(by='Affinity')

       Ligand  Affinity
20721   Lig47 -8.753867
22564    Lig7 -8.680148
9284    Lig26 -8.676151
15409  Lig380 -8.650461
15410  Lig380 -8.504001
...       ...       ...
4236   Lig177 -2.471523
19017  Lig445 -2.443883
19018  Lig445 -2.436026
19019  Lig445 -2.432883
19020  Lig445 -2.431141

[23703 rows x 2 columns]

In [4]:
df.to_csv('3_smina.csv')