## Parsing Output CSV Smina

In [1]:
##Importing packages

import pandas as pd
import numpy as np

In [2]:
##Reading file

df = pd.read_csv('final_value_smina.csv', delimiter=",")
df

       Ligand  Affinity
0      Lig100 -5.101824
1      Lig100 -4.882990
2      Lig100 -4.770654
3      Lig100 -4.425592
4      Lig100 -4.423190
...       ...       ...
22753    Lig9 -4.493576
22754    Lig9 -4.489863
22755    Lig9 -4.473141
22756    Lig9 -4.456522
22757    Lig9 -4.411898

[22758 rows x 2 columns]

In [3]:
df.sort_values(by='Affinity')

       Ligand  Affinity
17280   Lig41 -8.583083
13973   Lig35 -8.386328
17821   Lig42 -8.281104
14507   Lig36 -8.250680
17281   Lig41 -8.229838
...       ...       ...
18063  Lig433 -2.073090
18064  Lig433 -2.062355
18065  Lig433 -2.034148
18066  Lig433 -1.916738
18067  Lig433 -1.912945

[22758 rows x 2 columns]

In [4]:
df.to_csv('3_smina.csv')