## Parsing Output CSV Vina

In [20]:
##Importing packages

import pandas as pd
import numpy as np

In [21]:
##Reading file

df = pd.read_csv('final_value_vina.csv', delimiter=",")
df

      Ligand  affinity_(kcal/mol)  rmsd_lb  rmsd_ub
0     Lig100                 -5.6    0.000    0.000
1     Lig100                 -5.5    2.167    2.650
2     Lig100                 -5.4    1.915    4.450
3     Lig100                 -5.4    1.819    4.440
4     Lig100                 -5.3    2.888    5.970
...      ...                  ...      ...      ...
6350    Lig9                 -7.3    3.234    4.686
6351    Lig9                 -7.0    2.783    3.986
6352    Lig9                 -7.0    4.305    5.571
6353    Lig9                 -6.9    6.123    8.685
6354    Lig9                 -6.8    3.019    4.284

[6355 rows x 4 columns]

In [22]:
df.sort_values(by='affinity_(kcal/mol)')

      Ligand  affinity_(kcal/mol)  rmsd_lb  rmsd_ub
5675    Lig6                 -8.9    0.000    0.000
5455    Lig5                 -8.8    0.000    0.000
1958   Lig18                 -8.7    0.000    0.000
5456    Lig5                 -8.7    4.724    6.728
5895    Lig7                 -8.5    0.000    0.000
...      ...                  ...      ...      ...
4369  Lig298                 -3.6    2.940    4.936
4354  Lig297                 -3.6    2.108    4.878
4368  Lig298                 -3.6    2.090    4.156
4374  Lig298                 -3.5    2.199    3.592
4373  Lig298                 -3.5    8.373   10.121

[6355 rows x 4 columns]

In [23]:
df.to_csv('2_vina.csv')