## Parsing Output CSV Vina

In [3]:
##Importing packages

import pandas as pd
import numpy as np

In [4]:
##Reading file

df = pd.read_csv('final_value_vina.csv', delimiter=",")
df

      Ligand  affinity_(kcal/mol)  rmsd_lb  rmsd_ub
0     Lig100                 -5.4    0.000    0.000
1     Lig100                 -5.3    7.690   11.008
2     Lig100                 -5.3    6.150   10.238
3     Lig100                 -5.3    6.385   10.475
4     Lig100                 -5.2    8.799   12.204
...      ...                  ...      ...      ...
6180    Lig9                 -4.4    6.924    9.088
6181    Lig9                 -4.3    3.055    6.297
6182    Lig9                 -4.2    4.589    6.968
6183    Lig9                 -4.2    3.043    5.683
6184    Lig9                 -4.2    4.692    6.358

[6185 rows x 4 columns]

In [5]:
df.sort_values(by='affinity_(kcal/mol)')

      Ligand  affinity_(kcal/mol)  rmsd_lb  rmsd_ub
5289    Lig5                 -8.1    3.502    5.533
5288    Lig5                 -8.1    0.000    0.000
5507    Lig6                 -8.0    0.000    0.000
419    Lig11                 -8.0    0.000    0.000
5290    Lig5                 -7.9    1.754    2.151
...      ...                  ...      ...      ...
678   Lig130                 -3.4    6.485    7.728
1795  Lig181                 -3.4    2.997    3.726
1794  Lig181                 -3.4    6.367    7.772
3392  Lig253                 -3.3    9.522   10.459
5367   Lig62                 -2.5    9.031   10.825

[6185 rows x 4 columns]

In [6]:
df.to_csv('2_vina.csv')