## Parsing Output CSV Vina

In [1]:
##Importing packages

import pandas as pd
import numpy as np

In [2]:
##Reading file

df = pd.read_csv('final_value_vina.csv', delimiter=",")
df

      Ligand  affinity_(kcal/mol)  rmsd_lb  rmsd_ub
0     Lig100                 -5.9    0.000    0.000
1     Lig100                 -5.7    1.956    4.614
2     Lig100                 -5.7    3.373    6.872
3     Lig100                 -5.6    1.987    4.073
4     Lig100                 -5.4    1.926    5.737
...      ...                  ...      ...      ...
9268    Lig9                 -6.0    3.008    4.957
9269    Lig9                 -5.9    4.869    9.963
9270    Lig9                 -5.9    5.045   10.133
9271    Lig9                 -5.8    2.879    4.517
9272    Lig9                 -5.7    5.116   10.148

[9273 rows x 4 columns]

In [3]:
df.sort_values(by='affinity_(kcal/mol)')

      Ligand  affinity_(kcal/mol)  rmsd_lb  rmsd_ub
1519   Lig16                 -8.1    0.000    0.000
1520   Lig16                 -7.9    3.623    5.500
7279   Lig42                 -7.8    1.627    2.586
7278   Lig42                 -7.8    0.000    0.000
1521   Lig16                 -7.7    3.105    4.936
...      ...                  ...      ...      ...
7138  Lig422                 -3.4    2.707    4.481
1733  Lig179                 -3.3    3.751    5.182
1734  Lig179                 -3.2    2.778    4.400
1735  Lig179                 -3.2    3.317    4.706
1398  Lig163                 -2.8    9.317   10.275

[9273 rows x 4 columns]

In [4]:
df.to_csv('3_vina.csv')