## Parsing Output CSV Smina

In [6]:
##Importing packages

import pandas as pd
import numpy as np

In [7]:
##Reading file

df = pd.read_csv('final_value_smina.csv', delimiter=",")
df

       Ligand  Affinity
0      Lig100 -5.249513
1      Lig100 -5.167172
2      Lig100 -5.164285
3      Lig100 -5.149058
4      Lig100 -5.130510
...       ...       ...
15626    Lig9 -6.009185
15627    Lig9 -6.004159
15628    Lig9 -5.979102
15629    Lig9 -5.733710
15630    Lig9 -5.676988

[15631 rows x 2 columns]

In [8]:
df.sort_values(by='Affinity')

       Ligand  Affinity
12051   Lig34 -8.816815
4790    Lig18 -8.795600
12001   Lig33 -8.656379
13975    Lig6 -8.652786
8290   Lig253 -8.625681
...       ...       ...
10761  Lig298 -2.265478
10762  Lig298 -2.240158
10763  Lig298 -2.232349
10764  Lig298 -2.220660
10765  Lig298 -2.208072

[15631 rows x 2 columns]

In [9]:
df.to_csv('2_smina.csv')