## Parsing Output CSV Smina

In [1]:
##Importing packages

import pandas as pd
import numpy as np

In [2]:
##Reading file

df = pd.read_csv('final_value_smina.csv', delimiter=",")
df

       Ligand  Affinity
0      Lig100 -5.274761
1      Lig100 -5.005817
2      Lig100 -4.802763
3      Lig100 -4.785552
4      Lig100 -4.780873
...       ...       ...
15142    Lig9 -3.160824
15143    Lig9 -3.149349
15144    Lig9 -3.129170
15145    Lig9 -3.112226
15146    Lig9 -3.035687

[15147 rows x 2 columns]

In [3]:
df.sort_values(by='Affinity')

       Ligand  Affinity
9148    Lig26 -8.227994
9693    Lig27 -8.207546
9149    Lig26 -8.166579
8058    Lig24 -8.123951
10234   Lig28 -8.025139
...       ...       ...
10323  Lig290 -2.115149
10324  Lig290 -2.076187
10325  Lig290 -2.064013
10326  Lig290 -2.030397
10327  Lig290 -1.987532

[15147 rows x 2 columns]

In [4]:
df.to_csv('2_smina.csv')